@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
@media screen and (max-width: 768px) {
	.fullpage {
		height: auto;
		margin-top: 49px;
		.copyright {
	  		position: static;
	  		transform: translateX(0);
	  		background: #0e0e0f;
	  		color: #fff;
	  		text-align: center;
	  		font-size: 1rem;
	  		padding: 1.5rem 0;
  	}
	}
	.slider {
	  position: relative;
	  .main_slider {
	    position: relative;
	    height: 0;
	    padding-top: percentage(716/768);
	    .wrap {
	      .slide {
	      	position: inherit;
	        width: 100%;
	        text-align: center;
	        transition: all 2.5s ease-out;
	        opacity: 0;
	        height: auto;
	        figure {
	          img {
	            width: 100%;
	            height: auto;
	            backface-visibility: hidden;
	          }
	        }
	        &:nth-of-type(1){
	          background: none;
	          height: auto;
	        }
	        &:nth-of-type(2){
	          background: none;
	          height: auto;
	        }
	        &:nth-of-type(3){
	          background: none;
	          height: auto;
	        }
	      }
	    }
	  }
	}
	.top-wrap {
		position: static;
		width: 100%;
		height: auto;
		display: block;
		&_inner{
			display: block;
		}
	}
	.main-info {
		background: #000;
		padding: 3.5rem 2.5rem;
		h1 {
			font-size: 2.3rem;
			line-height: 1.5;
			font-weight: 400;
			margin-bottom: 3rem;
			padding: 0 2rem;
		}
		p {
			font-size: 1.8rem;
		}
	}
	.top-wrap_inner{
		.headline {
			color: #000;
			padding: 4.5rem 2.5rem 5rem;
			display: block;
			margin-top: 0;
	    &-title{
	      text-align: center;
	      margin-bottom: 4rem;
	      margin-right: 0;
	      &_h{
	        font-size: 2.3rem;
	      }
	      &_s{
	        font-size: 1rem;
	      }
	    }
	    &-list{
	    	margin-bottom: 4.5rem;
	      li{
	        &:not(:last-child){
	          margin-bottom: 20px;
	        }
	        a{
	          color: #000;
	          line-height: 1.5;
	          display: block;
	          time{
	            margin-right: 0;
	            font-size: 1.2rem;
	          }
	          em{
	          	display: block;
	          	margin-top: 5px;
	          	font-size: 1.4rem;
	          }
	        }
	      }
	    }
			&-btn {
				background: #000;
				color: #fff;
				display: block;
				text-align: center;
				padding: 10px 0px;
			}
		}
	}
	.bnr-jouir {
		position: static;
		width: 100%;
		img {
			width: 100%;
		}
	}
}
@media screen and (max-width: 360px) {
	.main-info {
		h1{
			font-size: 2rem;
			padding: 0;
			margin-bottom: 2rem;
		}
		p{
			font-size: 1.4rem;
		}
	}
}

.fancybox-slide--html .fancybox-button.fancybox-close-small {
  width: 20px !important;
  height: 20px !important;
  top: -30px !important;
  right: 0;
  svg {
    display: none;
  }
}
.md-movie {
  .btn {
    display: block;
    width: 200px;
    margin: 20px auto 0;
  }
}