@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.container{
  max-width: 1400px;
  margin: 0 auto;
}
/** main visual **/
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
       transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
       transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
       transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
       transform: translateX(0);
  }
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
     animation-name: bounceInLeft;
}
#toppage {
  #footer {
    display: none;
  }
}
.fullpage {
	width: 100%;
    height: 100vh;
	overflow: hidden;
	margin-top: 0;
	position: relative;
	.copyright {
		position: absolute;
		left: 50%;
		bottom: 3rem;
		transform: translateX(-50%);
		color: #fff;
	}
  &.page-main {
      padding: 0;
  }
}
.background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider {
  position: relative;
  .main_slider {
    position: relative;
    height: 0;
    padding-top: 100%;
    .wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      .slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        transition: all 2.5s ease-out;
        opacity: 0;
        figure {
          img {
            width: 100%;
            height: auto;
            backface-visibility: hidden;
            object-fit: cover;
          }
        }
        &:nth-of-type(1){
          background: url(../img/slider_01_pc.jpg) no-repeat;
          background-size: cover;
          height: 100vh;
        }
        &:nth-of-type(2){
          background: url(../img/slider_02_pc.jpg) no-repeat;
          background-size: cover;
          height: 100vh;
        }
        &:nth-of-type(3){
          background: url(../img/slider_03_pc.jpg) no-repeat;
          background-size: cover;
          height: 100vh;
        }
      }
    }
  }
}
.top-wrap {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 43%;
	height: 100%;
	display: table;
	&_inner {
		display: table-cell;
		vertical-align: middle;
    h1{
      font-size: 32px;
      line-height: 52px;
      font-weight: 400;
      margin-bottom: 38px;
    }
    p{
      font-size: 15px;
      line-height: 34px;
    }
    .headline{
      display: flex;
      align-items: center;
      margin-top: 50px;
      &-title{
        text-align: center;
        margin-right: 38px;
        &_h{
          font-size: 20px;
          line-height: 1;
          text-transform: uppercase;
          font-weight: 500;
        }
        &_s{
          font-size: 10px;
          line-height: 1;
          color: #b9b9b9;
          display: block;
          margin-top: 5px;
        }
      }
      &-list{
        li{
          &:not(:last-child){
            margin-bottom: 10px;
          }
          a{
            color: #fff;
            font-size: 15px;
            line-height: 1.5;
            letter-spacing: 1px;
            display: flex;
            font-family: "Yu Gothic";
            font-weight: 400;
            time{
              display: block;
              margin-right: 35px;
            }
            em{
              display: block;
              font-style: normal;
              text-decoration: underline;
            }
            &:hover{
              em{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
	}
}
.bnr-jouir {
  position: absolute;
  left: 0;
  bottom: 84px;
  display: inline-block;
  box-shadow: 3px 3px 7px rgba(0,0,0,.34);
}
@media (min-width: 769px) and (max-width: 960px) {
  .top-wrap{
    width: 60%;
  }
}


.fancybox-content {
  padding: 0 !important;
  width: 100% !important;
  max-width: 1150px !important;
  overflow: initial !important;
  background: transparent !important;
  cursor: inherit !important;
}
.wrap-movie {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.fancybox-slide--html .fancybox-button.fancybox-close-small {
  padding: 0 !important;
  background: url(../img/icon_close.svg) left top no-repeat;
  background-size: cover;
  width: 30px !important;
  height: 30px !important;
  top: -50px !important;
  right: 0 !important;
  svg {
    display: none !important;
  }
}

.md-movie {
  .btn {
    display: block;
    width: 256px;
    margin: 37px auto 0;
    position: relative;
    z-index: 99999;
  }
}