/** about sp style **/
@media screen and (max-width: 768px) {
	.about-ttl {
		font-size: 3.2rem;
		margin-bottom: 3rem;
	}
	.company-info {
		margin-bottom: 6rem;
		dl {
			dt {
				padding: 1.5rem;
				width: 30%;
			}
			dd {
				padding: 1.5rem;
				width: 70%;
				span {
					display: block;
					&:last-child {
						margin-left: 0;
					}
				}
			}
		}
	}
	.access-info {
		display: block;
		p {
			width: 100%;
		}
		ul {
			width: 100%;
		}
	}
	.maps {
		height: 30rem;
		margin: 0 -1.5rem;
		&-btn {
			display: none;
		}
	}
}