/** about pc style **/
.about-ttl {
	font-weight: 300;
	font-size: 3.4rem;
	text-transform: uppercase;
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-bottom: 5rem;
}
.company-info {
	max-width: 800px;
	margin: 0 auto 12rem;
	dl {
		display: flex;
		flex-flow: row wrap;
		border: 1px solid #818181;
		background: #c3c3c3;
		&:not(:first-child) {
			border-top: none;
		}
		dt {
			width: 20%;
			padding: 3rem 3.5rem;
			align-self: center;
		}
		dd {
			width: 80%;
			background: #fff;
			padding: 3rem 4.5rem;
			span {
				display: inline-block;
				&:last-child {
					margin-left: 20px;
				}
			}
		}
	}
}
.section-about {
	font-family: "Yu Gothic";
}
.section-access {
	font-family: "Yu Gothic";
	.container {
		overflow: visible;
	}
}
.access-info {
	display: flex;
	flex-flow: row wrap;
	max-width: 800px;
	margin: 0 auto 5rem;
	p {
		width: 50%;
	}
	ul {
		width: 50%;
	}
}
.maps {
	/*width: 100%;*/
	height: 400px;
	position: relative;
	&-btn {
		position: absolute;
		left: 4rem;
		bottom: -2rem;
		z-index: 2;
		border: 1px solid #000;
		line-height: 1;
		text-transform: uppercase;
		font-size: 1.5rem;
		padding: 1rem 2rem 1rem 5.5rem;
		&:after,
		&:before {
			border-right: 1px solid;
			content: '';
			display: block;
			height: 8px;
			margin-top: -6px;
			position: absolute;
			transform: rotate(135deg);
			left: 3rem;
			top: 50%;
			width: 0;
		}
		&:after {
			margin-top: -1px;
			transform: rotate(45deg);
		}
		&:hover {
			background: #000;
			color: #fff;
		}
	}
	iframe {
		width: 100%;
		height: 100%;
	}
}