@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.page-main {
    padding: 100px 0px;
}
.pagevisual {
    text-align: center;
    position: relative;
    height: 21rem;
    margin-top: 66px;
    figure {
        img {
            width: 100%;
            height: auto;
        }
    }
}
.page-title {
	font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Calligraffitti', cursive;
    line-height: 1;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: inline-block;
}
.MissingWH {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    img {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        width: auto !important;
        display: none;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        max-height: none;
        max-width: none;
        transition: 0.5s ease-in-out;
    }
}
.section-title {
	
}
.section-head_txt {
	
}
.btn {
	
}
.ltie11 {
	
}
@media (min-width: 769px) and (max-width: 960px) {
	
}