@charset "utf-8";

// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
@media screen and (min-width: 769px) {
	.show_pc {
	    display: inline-block;
	}
	.show_sp {
	  display: none !important;
	}
}
@media screen and (max-width: 768px) {
	body {
		/*font-size: 12px;
		font-size: 1.2rem;*/
		line-height: 1.8;
	}
	.show_pc {
	    display: none !important;
	}
	.show_sp {
	    display: inline-block;
	}
	.page-main {
	    padding: 5rem 0;
	}
	.pagevisual {
		margin-top: 50px;
	}
	.page-title {
		font-size: 3.6rem;
		width: 100%;
		display: block;
		text-align: center;
	}
}