/** concept pc style **/
.page-main {
	&.page-concept {
		padding-top: 0px;
	}
}
.concept-intro {
	background: url(../img/concept/concept-intro__.png) right top no-repeat;
	/*background-size: cover;*/
	padding: 135px 0px 100px;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../img/concept/concept-bg.png) left top repeat;
		z-index: -1;
	}
	&_title {
		font-size: 3.5rem;
		font-weight: 500;
		line-height: 1.8;
		margin-bottom: 5rem;
		letter-spacing: 5px;
	}
	p {
		font-size: 1.6rem;
		font-family: "Yu Gothic";
		margin-bottom: 7rem;
		line-height: 2.5;
	}
	.com-logo {
		margin-left: 13rem;
		img {
			width: 130px;
		}
	}
}
.concept-list {
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			width: 33.333%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.concept-wine {
	&_bnr {
		img {
			width: 100%;
			height: auto;
		}
	}
	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		max-width: 1146px;
		overflow: visible;
		position: relative;
	}
	&_head {
		padding: 6rem 0;
		font-family: "Yu Gothic";
	}
	&_img {
		width: 54%;
		margin-left: auto;
		align-self: flex-end;
		float: right;
	}
	&_ctn {
		width: 39%;
		padding: 80px;
		background: #fff;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
		margin-top: -25%;
		
		h2 {
			font-size: 2.6rem;
			font-weight: 400;
			margin-bottom: 4rem;
		}
		p {
			font-size: 1.6rem;
			font-family: "Yu Gothic";
			line-height: 2.5;
		}
	}
}