/** contact pc style **/
.txt-head {
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 9rem;
	font-family: "Yu Gothic";
	span {
		color: #e00022;
	}
}
.contact-box {
	padding: 40px 50px;
	border: 1px solid #dbdbdb;
	font-size: 12px;
	margin-bottom: 80px;
	&_sub {
		font-size: 2rem;
		color: #e00022;
		text-align: center;
		margin-bottom: 0;
		a {
			font-size: 2.6rem;
			color: #e00022;
			font-weight: 500;
			pointer-events: none;
		}
	}
}
.required {
	color: #a22424;
	font-size: 10px;
	display: inline-block;
	font-weight: normal;
}
.contact-control {
	display: flex;
	flex-flow: row wrap;
	padding: 25px 0px;
	border-bottom: 1px solid #dbdbdb;
	&.last {
		border: none;
		margin-bottom: 55px;
	}
	dt {
		width: 30%;
		font-size: 16px;
		padding: 12px 40px;
	}
	dd {
		width: 70%;
	}
	.ipt, .apt {
		width: 100%;
		background: #ededed;
		border: none;
		padding: 15px 25px;
	}
	.apt {
		height: 240px;
	}
}
.contact-form {
	font-family: "Yu Gothic";
	.btn-submit {
		display: block;
		border: 1px solid #000;
		width: 300px;
		text-align: center;
		margin: 0 auto;
		background: none;
		padding: 15px 0;
		cursor: pointer;
		pointer-events: none;
		&:hover {
			color: #fff;
			background: #000;
		}
	}
}