/** contact sp style **/
@media screen and (max-width: 768px) {
	.txt-head {
		text-align: left;
		font-size: 1.4rem;
		margin-bottom: 5rem;
	}
	.contact-box {
		padding: 20px;
		font-size: 12px;
		margin-bottom: 40px;
		&_sub {
			font-size: 1.4rem;
			color: #e00022;
			text-align: center;
			a {
				font-size: 2rem;
				color: #e00022;
				font-weight: 500;
				pointer-events: auto;
			}
		}
	}
	.contact-control {
		display: block;
		&.last {
			margin-bottom: 25px;
		}
		dt {
			width: 100%;
			padding: 0;
		}
		dd {
			width: 100%;
		}
		.ipt, .apt {
			padding: 10px;
		}
		.apt {
			height: 240px;
		}
	}
	.contact-form {
		.btn-submit {
			display: block;
			border: 1px solid #000;
			width: 100%;
			max-width: 300px;
			text-align: center;
			margin: 0 auto;
			background: none;
			padding: 15px 0;
			cursor: pointer;
		}
	}
}