/** concept sp style **/
@media screen and (max-width: 768px) {
	.concept-intro {
		background: none;
		padding: 40px 0px;
		&:after {
			background: none;
		}
		&_title {
			font-size: 2.3rem;
		}
		p {
			font-size: 1.8rem;
			margin-bottom: 6rem;
			line-height: 2;
		}
		figure {
			&.show_sp {
				margin: 0 -1.5rem 6rem;
			}
		}
		.com-logo {
			margin: 0 auto;
			text-align: center;
		}
	}
	.concept-list {
		ul {
			li {
				width: 50%;
				&:nth-child(1) {
					width: 100%;
				}
			}
		}
	}
	.concept-wine {
		.container {
			display: block;
		}
		&_head {
			padding: 3rem 0;
		}
		&_ctn {
			width: 100%;
			padding: 6rem 3rem;
			margin-bottom: 7rem;
			margin-top: -1.5rem;
			h2 {
				font-size: 2.3rem;
				margin-bottom: 4.5rem;
			}
			p {
				font-size: 1.8rem;
				line-height: 2;
			}
		}
		&_img {
			width: 100%;
			float: none;
		}
	}
}