@media screen and (max-width: 768px) {
	.page-footer {
		text-align: center;
		.container {
			display: block;
		}
	}
	.footer {
		&-l {
			display: block;
			margin-bottom: 3.5rem;
			.logo-footer {
				margin: 0 0 4.5rem;
			}
			.footer-info {
				text-align: left;
			}
		}
		&-r {
			text-align: center;
			.footer-social {
				display: inline-block;
				margin-bottom: 3.5rem;
				img {
					max-width: 3.5rem;
				}
			}
		}
	}
	.copyright {
		
	}
	.pagetop {
		display: none !important;
	}
}
@media screen and (max-width: 360px) {
	
}