.page-footer {
	background: #0e0e0f;
	padding: 4rem 0;
	color: #fff;
	.container {
		display: flex;
		justify-content: space-between;
	}
}
.logo-footer {
	.svg,img {
		width: 108px;
	}
}
.footer {
	&-l {
		display: flex;
		flex-flow: row wrap;
		font-size: 1.2rem;
		.logo-footer {
			align-self: center;
			margin-right: 4.5rem;
		}
	}
	&-r {
		text-align: right;
		align-self: flex-end;
		.footer-social {
			display: inline-block;
			margin-bottom: 1.5rem;
			img {
				max-width: 2rem;
			}
		}
	}
}
.copyright {
	display: block;
	font-size: 1.2rem;
}
.pagetop {
	position: fixed;
    right: 5%;
    bottom: 10rem;
    z-index: 99999;
    cursor: pointer;
    &:hover {
    	opacity: .75;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
	
}