@media screen and (min-width: 769px) {
    .logo-sp {
        display: none !important;
    }
    .header-inner {
        display: flex !important;
    }
}
@media screen and (max-width: 768px) {
    /** Hamburger Menu **/
    #hambuger {
        align-self: center;
        display: table;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 99;
        transition: 0.3s ease-in-out;
    }
    .nav-icon {
      width: 32px;
      height: 18px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: #fff;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          &:nth-child(1) {
              top: 0px;        
          }
          &:nth-child(2),
          &:nth-child(3) {
              top: 9px;        
          }
          &:nth-child(4) {
              top: 18px;        
          }
      }
      &.open {
        span {
          background: #fff;
          &:nth-child(1) {
              top: 12px;
              width: 0%;
              left: 50%;
          }
          &:nth-child(2) {
              transform: rotate(45deg);
          }
          &:nth-child(3) {
              transform: rotate(-45deg);
          }
          &:nth-child(4) {
              top: 12px;
              width: 0%;
              left: 50%;
          }
        }
      }
    }

    .page-header {
        display: flex;
        justify-content: space-between;
        padding: 12px 15px;
    }
    .header-social {
        line-height: 1;
        img {
            max-width: 3.5rem;
        }
    }
    .logo-sp {
        display: block;
        .svg,img {
            width: 11.5rem;
            .cls-3 {
                font-size: 9px;
            }
        }
    }
    .header-inner {
      display: none;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      top: 49px;
      background: rgba(#090809,0.8);
      &.open {
          display: block;
      }
    }
    .menu {
        display: block;
        padding-top: 10px;
        li {
            &:not(:first-child) {
                margin-left: 0;
            }
            &.site-logo {
                padding: 0;
                display: none;
            }
            a {
                display: block;
                border-bottom: 1px solid #fff;
                padding: 13px 0px;
            }
        }
    }
    .header-social{
      padding: 15px 0;
      display: block;
    }
}