.page-header {
	background: #090809;
	padding: 13px 0;
	width: 100%;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.header-inner {
	max-width: 1170px;
	padding: 0 1.5rem;
	margin: 0 auto;
	box-sizing: border-box;
}
.header-social {
	line-height: 1;
	img {
		max-width: 2rem;
	}
}
.site-logo {
	.svg,img {
		width: 16.3rem;
		height: auto;
	}
}
.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	display: flex;
	align-items: center;
	flex-flow: row;
	li {
		align-self: center;
		&:not(:first-child) {
			margin-left: 65px;
		}
		&.site-logo {
			padding: 4px 28px 0;
			/*.svg {
				.cls-3 {
	                font-size: 9px;
	            }
			}*/
		}
		a {
			color: #fff;
			letter-spacing: 2px;
		}
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
    .gnav {
        margin: 0 auto;
    }
    .menu {
        li {
            &:not(:first-child) {
                margin-left: 20px;
            }
            a {
                font-size: 1.3rem;
            }
        }
    }
}