@media screen and (max-width: 768px) {
	.tabs {
		li {
			font-size: 1.2rem;
			span {
				font-size: 0.8rem;
			}
		}
	}
	.tab-title {
		font-size: 2.5rem;
		width: 17rem;
		height: 17rem;
		margin: 4rem auto;
	}
	.menu-art {
		display: block;
		padding: 1.5rem;
		max-width: 440px;
		margin: 0 auto 4rem;
		margin-bottom: 35px;
		&.last {
			margin-bottom: 0;
		}
		&_lbl {
			margin-bottom: 2rem;
		}
		&_title {
			font-size: 1.8rem;
			margin-bottom: 3rem;
		}
		&_thumb {
			width: 100%;
			margin: 0 0 3rem 0;
		}
		&_ctn {
			width: 100%;
		}
		&_list {
			margin-bottom: 2rem;
		}
		&_price {
			position: static;
		}
		&_note {
			position: static;
		}
	}
}
@media screen and (max-width: 360px) {
	
}