.page-menu {
	background: url(../img/menu/menu-bg.png) left top repeat;
	padding-top: 0;
}
.tabs {
	display: flex;
	flex-flow: row wrap;
	li {
		width: 33.333%;
		text-align: center;
		padding: 10px;
		line-height: 1;
		color: #000;
		background: #fff;
		cursor: pointer;
		&.current {
				background: #000;
				color: #fff;
		}
		span {
			display: block;
			line-height: 1;
			font-size: 12px;
			margin-top: 5px;
		}
		
	}
}
.tab_content {
	display: none;
	&.current {
		display: inherit;
	}
}
.tab-title {
	background: #000;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	font-family: 'Yeseva One', cursive;
	display: inline-block;
	line-height: 1;
	width: 200px;
	height: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: 90px auto 85px;
	span {
		align-self: center;
		position: relative;
		line-height: 1;
		&:before {
			position: absolute;
			content: '';
			right: -100%;
			bottom: 3px;
			width: 100%;
			height: 2px;
			background: #000;
			z-index: 2;
		}
		&:after {
			position: absolute;
			content: '';
			left: -100%;
			bottom: 4px;
			height: 1px;
			width: 200%;
			background: #fff;
			z-index: 1;
		}
	}
}
.menu-art {
	display: flex;
	flex-flow: row wrap;
	padding: 45px;
	background: #fff;
	margin-bottom: 87px;
	&.last {
		margin-bottom: 0;
	}
	&_lbl {
		background: #000;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		padding: 10px 15px;
		display: inline-block;
		line-height: 1;
		margin-bottom: 1rem;
	}
	&_title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	&_thumb {
		width: 50%;
		margin-right: 25px;
	}
	&_ctn {
		width: calc(50% - 25px);
		position: relative;
	}
	&_list {
		margin-bottom: 75px;
		&:last-child {
			margin-bottom: 0px;
		}
		li {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			position: relative;
			padding-left: 2rem;
			&:after {
				position: absolute;
				content: '・';
				left: 0;
				top: 0;
			}
			ul {
				li {
					&:after {
						content: '';
					}
				}
				&.diff {
					.text {
						width: 70%;
						text-align: right;
					}
				}
			}
			&.block {
				display: block;
			}
		}
	}
	&_price {
		font-size: 22px;
		letter-spacing: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: 0;
		span {
			font-size: 14px;
			display: inline-block;
		}
		small {
			display: block;
			font-size: 1.2rem;
		}
	}
	&_note {
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: 0;
	}
	&.last {
		margin-bottom: 1rem;
	}
}