/** news sp style **/
@media screen and (max-width: 768px) {
	.news-list {
		li {
			a {
				display: block;
				padding: 2rem 1rem;
				.news-day {
					display: block;
					width: 100%;
					font-size: 1.2rem;
				}
				.news-text {
					display: block;
					width: 100%;
					font-size: 1.4rem;
				}
			}
		}
	}
	.entry {
		font-size: 1.8rem;
		font-weight: 200;
		&-title {
			font-size: 2.4rem;
			margin: 2rem 0 1rem;
		}
		&-day {
			line-height: 1;
			font-size: 1.2rem;
		}
		&-thumb {
			margin-bottom: 3rem;
		}
		&-nav {
			padding: 0;
			border: none;
			ul {
				justify-content: space-between;
				li {
					width: 25%;
					padding: 0;
					/*&:nth-child(2) {
						width: 50%;
					}*/
					a {
						font-size: 12px;
    					padding: 7px 10px;
    					background: #000;
    					color: #fff;
    					&:after {
				    		top: 11px;
				    	}
    					&.back {
    						padding: 10px 0px;
    						text-indent: -99999px;
    						background: none;
    						width: 30px;
    						&:after {
    							left: 0px;
							    top: 0px;
							    width: 30px;
							    height: 30px;
    						}
    					}
    					&.prev {
    						padding: 10px 15px 10px 30px;
    						&:after {
    							left: 10px;
    							top: 10px;
    							order-top: 5px solid transparent;
								border-bottom: 5px solid transparent; 
								border-right: 8px solid #fff; 
    						}
    					}
    					&.next {
    						padding: 10px 30px 10px 15px;
    						&:after {
    							right: 10px;
    							border-top: 5px solid transparent;
								border-bottom: 5px solid transparent; 
								border-left: 8px solid #fff; 
    						}
    					}
    					&:hover {
    						&.prev {
				    			&:after {
				    				border-right: 8px solid #fff;
				    			}
				    		}
				    		&.next {
				    			&:after {
				    				border-left: 8px solid #fff;
				    			}
				    		}
    					}
					}
				}
			}
			&.sp {
				display: block;
			}
		}
	}
	.pagination {
		display: none;
	}
}