/** news pc style **/
.entry {
	border-top: 1px solid #000;
	font-size: 1.6rem;
	font-family: "Yu Gothic";
	&-title {
		font-size: 3rem;
		font-weight: 400;
		margin: 35px 0px 40px;
	}
	&-day {
		display: inline-block;
		margin-bottom: 1.5rem;
	}
	&-thumb {
		margin-bottom: 6rem;
	}
	&-contents {
		a {
			color: #6c7dc3;
			text-decoration: underline;
		}
	}
	&-nav {
		border-top: 1px dotted #b1b1b1;
		margin-top: 50px;
		padding: 50px 0px 20px;
		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			li {
				width: 33.333%;
				display: inline-block;
			    color: #000;
			    line-height: 1;
			    text-align: center;
			    padding: 15px 20px;
			    a {
			    	display: inline-block;
			    	padding: 12px;
			    	position: relative;
			    	&:after {
			    		position: absolute;
			    		content: '';
			    		top: 12px;
			    	}
			    	&.back {
			    		padding: 12px 20px 12px 50px;
			    		&:after {
			    			left: 15px;
			    			top: 8px;
						    width: 23px;
						    height: 23px;
						    -webkit-mask: url(../img/news/menu.svg) no-repeat 100% 100%;
							mask: url(../img/news/menu.svg) no-repeat 100% 100%;
							-webkit-mask-size: cover;
							mask-size: cover;
							background-color: #000;
			    		}
			    	}
			    	&.prev {
			    		padding: 12px 20px 12px 40px;
			    		&:after {
			    			left: 15px;
			    			width: 0; 
							height: 0; 
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent; 
							border-right: 12px solid #000; 
			    		}
			    	}
			    	&.next {
			    		padding: 12px 40px 12px 20px;
			    		&:after {
			    			right: 15px;
			    			width: 0; 
							height: 0; 
							border-top: 8px solid transparent;
							border-bottom: 8px solid transparent; 
							border-left: 12px solid #000; 
			    		}
			    	}
			    	&:hover {
			    		background: #000;
			    		color: #fff;
			    		&.back {
			    			&:after {
			    				-webkit-mask: url(../img/news/menu.svg) no-repeat 100% 100%;
								mask: url(../img/news/menu.svg) no-repeat 100% 100%;
								-webkit-mask-size: cover;
								mask-size: cover;
								background-color: #fff;
			    			}
			    		}
			    		&.prev {
			    			&:after {
			    				border-right: 12px solid #fff;
			    			}
			    		}
			    		&.next {
			    			&:after {
			    				border-left: 12px solid #fff;
			    			}
			    		}
			    	}
			    	&.no_page {
			    		pointer-events: none;
			    		opacity: .2;
			    	}
			    } 
			}
		}
		&.sp {
			display: none;
		}
	}
}
.news-list {
	li {
		border-bottom: 1px dotted #b1b1b1;
		a {
			padding: 35px 20px;
			display: flex;
			flex-flow: row wrap;
			.news-day {
				width: 280px;
			}
			.news-text {
				width: calc(100% - 280px);
			}
			&:hover {
				.news-text {
					text-decoration: underline;
					color: #6c7dc3;
				}
			}
		}
		&:nth-child(even) {
			a {
				background: #f4f4f4;
			}
		}
	}
}
.pagination {
	margin-top: 120px;
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		li {
			.paged {
				display: block;
				line-height: 1;
				font-size: 2rem;
				padding: 20px 22px;
				&:hover {
					background: #000;
					color: #fff;
				}
			}
			&.curent {
				span {
					&.paged {
						background: #000;
						color: #fff;
						&:hover {
							background: #000;
							color: #fff;
						}
					}
				}
				
			}
			span {
				&.paged {
					&:hover {
						background: none;
						color: currentColor;
					}
				}
			}
			&:not(:first-child) {
				margin-left: 1rem;
			}
		}
	}
}