/** about sp style **/
.wine-wrap {
	max-width: 83rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}
.wine-reason {
	display: block;
	&_ctn {
		position: static;
		transform: translateX(0);
		text-align: center;
		h2 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
	&_img {
		width: 100%;
		height: auto;
		margin-left: 0;
		padding: 0 1.5rem;
		img {
			position: static !important;
			max-width: 100% !important;
			min-height: none !important;
		}
	}
}
.wine-grows {
	margin: 3.5rem 0;
	h2 {
		font-size: 2rem;
		font-weight: 400;
		display: inline-block;
		background: #fff;
		line-height: 1.7;
		letter-spacing: -1px;
		margin-bottom: 2rem;
	}
	p {
		font-family: "Yu Gothic";
		font-size: 1.4rem;
	}
}
.wine-single {
	padding: 0 1.5rem;
	img {
		width: 100%;
		height: auto;
	}
}
.sc-row {
	display: block;
	padding: 0 1.5rem;
	h2 {
		font-size: 2rem;
		font-weight: 400;
		display: inline-block;
		background: #fff;
		line-height: 1.7;
		letter-spacing: -1px;
		margin-bottom: 3rem;
	}
	p {
		font-family: "Yu Gothic";
		font-size: 1.4rem;
	}
	.sc-row_img {
		width: 100%;
		height: auto;
		margin-bottom: 3.5rem;
		text-align: center;
		figure {
			position: relative;
			display: inline-block;
			img {
				position: static !important;
				max-width: 100% !important;
				min-height: none !important;
			}
			figcaption {
				background: #fff;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				line-height: 1.3;
				padding: 0.3rem 1rem;
				font-family: "Yu Gothic";
				font-size: 1.6rem;
			}
		}
	}
	.sc-row_ctn {
		width: 100%;
		display: block;
		&--inner {
			max-width: 100%;
			padding: 0;
		}
	}
	&.shock {
		margin: 2rem 0 3.5rem;
		.sc-row_img {
			width: 100%;
			height: auto;
			margin-bottom: 3.5rem;
		}
		.sc-row_ctn {
			width: 100%;
			&--inner {
				max-width: 100%;
				padding: 0;
			}
		}
	}
	&.enjoy {
		margin: 0 0 3rem 0;
		.sc-row_img {
			width: 100%;
			height: auto;
			text-align: center;
			margin-bottom: 3.5rem;
			figure {
				figcaption {
					left: auto;
					right: 0;
				}
			}
		}
		.sc-row_ctn {
			width: 100%;
			&--inner {
				max-width: 100%;
				padding: 0;
			}
		}
	}
	&.reserve {
	}	&.shock {
		.sc-row_img {
			width: 100%;
			height: auto;
		}
		.sc-row_ctn {
			width: 100%;
		}
	}
}
.wine-info {
	margin: 3.5rem 0 7rem;
	figure {
		figcaption {
			margin-top: 1rem;
			display: block;
			line-height: 1.3;
			font-family: "Yu Gothic";
			font-size: 1.6rem;
		}
	}
	dl {
		background: #ececec;
		font-family: "Yu Gothic";
		font-size: 1.4rem;
		padding: 2rem 1.5rem;
		margin-top: 5rem;
		dt {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}
	}
}
.wine-list {
	display: flex;
	justify-content: center;
	width: 100%;
	li {
		display: inline-flex;
		img {
			width: 100%;
			height: auto;
		}
	}
}