/** about pc style **/
.page-main {
	padding-bottom: 0;
}
.wine-wrap {
	max-width: 83rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}
.wine-reason {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
	&_ctn {
		width: 100%;
		max-width: 80rem;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		h2 {
			font-size: 3.6rem;
			font-weight: 400;
			display: inline-block;
			background: #fff;
		}
	}
	&_img {
		width: 100%;
		height: 52.5rem;
		margin-left: percentage(340/800);
	}
}
.wine-grows {
	margin: 7rem 0;
	h2 {
		font-size: 3.6rem;
		font-weight: 400;
		display: inline-block;
		background: #fff;
		line-height: 1.7;
		letter-spacing: -1px;
		margin-bottom: 3rem;
	}
	p {
		font-family: "Yu Gothic";
		font-size: 1.6rem;
	}
}
.wine-single {
	text-align: center;
	img {
		width: 100%;
		height: auto;
	}
}
.sc-row {
	display: flex;
	h2 {
		font-size: 3.6rem;
		font-weight: 400;
		display: inline-block;
		background: #fff;
		line-height: 1.7;
		letter-spacing: -1px;
		margin-bottom: 3rem;
	}
	p {
		font-family: "Yu Gothic";
		font-size: 1.6rem;
	}
	.sc-row_img {
		width: percentage(650/1310);
		height: 43.6rem;
		figure {
			position: relative;
			figcaption {
				background: #fff;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				line-height: 1.3;
				padding: 0.3rem 1rem;
				font-family: "Yu Gothic";
				font-size: 1.6rem;
			}
		}
	}
	.sc-row_ctn {
		width: percentage(732/1310);
		display: flex;
		justify-content: flex-end;
		&--inner {
			max-width: 44rem;
			padding: 0 4rem 0 0;
		}
	}
	&.shock {
		margin: 6rem 0 7rem;
		align-items: flex-end;
		.sc-row_img {
			width: percentage(578/1310);
			height: 38.8rem;
		}
		.sc-row_ctn {
			width: percentage(732/1310);
			&--inner {
				max-width: 49rem;
				padding: 0 2rem 0 0;
			}
		}
	}
	&.enjoy {
		margin: 0 0 3rem 0;
		.sc-row_img {
			width: percentage(555/1310);
			height: 37rem;
			text-align: right;
			figure {
				figcaption {
					left: auto;
					right: 0;
				}
			}
		}
		.sc-row_ctn {
			width: percentage(755/1310);
			justify-content: flex-start;
			&--inner {
				max-width: 52rem;
				padding: 0 0 0 4rem;
			}
		}
	}
	&.reserve {
		flex-flow: row-reverse;
	}	
	/*&.shock {
		.sc-row_img {
			width: percentage(578/1310);
			height: 38.8rem;
		}
		.sc-row_ctn {
			width: percentage(732/1310);
		}
	}*/
}
.wine-info {
	margin: 7rem 0 14rem;
	figure {
		figcaption {
			margin-top: 1rem;
			display: block;
			line-height: 1.3;
			font-family: "Yu Gothic";
			font-size: 1.6rem;
		}
	}
	dl {
		background: #ececec;
		font-family: "Yu Gothic";
		font-size: 1.6rem;
		padding: 2rem 3rem;
		margin-top: 5rem;
		dt {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}
	}
}
.wine-l {
	img {
		width: 100%;
		height: auto;
	}
}
.wine-list {
	display: flex;
	justify-content: center;
	width: 100%;
	li {
		display: inline-flex;
		img {
			width: 100%;
			height: auto;
		}
	}
}