@charset "utf-8";
@import "_mixin/mixin";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
/**font-family: 'Yeseva One', cursive;**/
/** YoGo fonts **/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
html,
body {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Noto Serif JP", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", serif;
    font-size: 14px;
    font-size: rem(14);
    font-weight: normal;
    background: #fff;
    color: #000;
    line-height: 2;
}

a {
    color: #000000;
    text-decoration: none;
    transition-duration: 0.2s;
    &:hover {
        text-decoration: none;
        color: currentColor;
        filter: alpha(opacity=75);
        -ms-filter: "alpha(opacity=75)";
        opacity: .75;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0px 0px 30px 0px;
    padding: 0;
    &:last-child {
        margin-bottom: 0px;
    }
}

figure {
    margin: 0;
    padding: 0;
    line-height: 0;
}

input[type="submit"] {
    border: none;
    transition-duration: 0.2s;
}

table {
    border-spacing: inherit;
    border-collapse: collapse;
}
dl,dt,dd {
    margin: 0;
    padding: 0;
}


/* clearfix */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
* {
    box-sizing: border-box;
}

picture {
  display: block;
}
html,body {
  width: 100%;
  height: 100%;
}
main{
  display: block;
}
.container {
    max-width: 1030px;
    padding: 0px 15px;
    overflow: hidden;
    margin: 0 auto;
}
.delay_03 {
    transition-property: opacity,transform,-webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.3s;
}
.delay_06 {
    transition-property: opacity,transform,-webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.6s;
}
.delay_09 {
    transition-property: opacity,transform,-webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.9s;
}
.delay_12 {
    transition-property: opacity,transform,-webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1.2s;
}
.delay_15 {
    transition-property: opacity,transform,-webkit-transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1.5s;
}
/*@include min-screen() {*/
    @import "./_common_pc.scss";
    @import "./_header_pc.scss";
    @import "./_footer_pc.scss";
/*}*/

/*@include max-screen() {*/
    @import "./_common_sp.scss";
    @import "./_header_sp.scss";
    @import "./_footer_sp.scss";
/*}*/